* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
}
.navbar h2 {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(8, 189, 129);
}
.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-top: 10px;
}
.navbar ul li {
  font-weight: bold;
  color: rgb(8, 189, 129);
}
.navbar ul li:hover {
  cursor: pointer;
  text-decoration: underline orange;
}

.bg-image {
  height: 50vh;
  display: grid;
  justify-items: center;
  align-content: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/013/089/133/small_2x/abstract-soft-focus-sunset-field-landscape-of-white-flowers-and-grass-meadow-warm-golden-hour-sunset-sunrise-time-tranquil-spring-summer-nature-closeup-and-blurred-forest-background-idyllic-nature-photo.jpg");
  background-size: cover;
}
.bg-image .search {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-auto-flow: row;
  justify-content: center;
}
.bg-image .search .search-field {
  height: 30px;
}
.bg-image .search .search-field input {
  height: 30px;
  border: none;
  size: 5px;
  background-color: white;
}
.bg-image .search .search-field input::placeholder {
  color: rgb(8, 189, 129);
  padding-left: 3px;
}
.bg-image .search .search-button {
  height: 30px;
  color: white;
  background-color: rgb(8, 189, 129);
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8px;
}
.details h2 {
  color: rgb(8, 189, 129);
  padding: 5px;
}
.details h5 {
  display: grid;
  justify-content: end;
  color: rgb(8, 189, 129);
  padding: 5px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  height: 70px;
}
.navigation .prev-button {
  display: grid;
  justify-items: start;
  align-content: center;
}
.navigation .prev-button div {
  background-color: rgb(8, 189, 129);
  color: white;
  height: 30px;
  margin-left: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.navigation .no-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation .no-buttons div {
  color: white;
  background-color: lightgrey;
  height: 30px;
  width: 30px;
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 5px;
}
.navigation .no-buttons .active {
  background-color: rgb(8, 189, 129);
}
.navigation .next-button {
  display: grid;
  justify-items: end;
  align-content: center;
}
.navigation .next-button div {
  background-color: rgb(8, 189, 129);
  color: white;
  height: 30px;
  margin-right: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.grids {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "section" "footer";
}
.grids .header {
  height: 200px;
  grid-area: header;
  background: lightgray;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.grids .footer {
  height: 200px;
  grid-area: footer;
  background: lightgray;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.grids .section {
  grid-area: section;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "navbar content";
}
.grids .section .navbar {
  grid-area: navbar;
  background-color: peachpuff;
  padding: 1rem;
  height: auto;
}
.grids .section .content {
  grid-area: content;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "upper" "middle" "lower";
  gap: 10px;
  padding: 10px;
}
.grids .section .content .upper {
  grid-area: upper;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "upper-left upper-center upper-right";
  gap: 10px;
}
.grids .section .content .upper .upper-left {
  grid-area: upper-left;
  background: grey;
  padding: 1rem;
  text-align: center;
  color: white;
}
.grids .section .content .upper .upper-center {
  grid-area: upper-center;
  background: red;
  padding: 1rem;
  text-align: center;
  color: white;
}
.grids .section .content .upper .upper-right {
  grid-area: upper-right;
  background: lightgray;
  padding: 1rem;
  text-align: center;
  color: white;
}
.grids .section .content .middle {
  grid-area: middle;
  background: blue;
  padding: 1rem;
  text-align: center;
  color: white;
}
.grids .section .content .lower {
  grid-area: lower;
  background: orange;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer {
  background-color: lightgray;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
footer .left-section {
  height: 200px;
  width: 300px;
}
footer .left-section h2 {
  color: rgb(8, 189, 129);
  padding-bottom: 20px;
}
footer .left-section div {
  font-size: small;
  color: rgb(128, 128, 128);
}
footer .left-section h5 {
  margin-top: 50px;
  font-weight: lighter;
  color: rgb(128, 128, 128);
}
footer .right-section {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .right-section .right-section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .right-section .right-section-head .link-header {
  color: rgb(8, 189, 129);
}
footer .right-section .right-section-head .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .right-section .right-section-head .links div {
  height: 20px;
  width: 20px;
  background-color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}
footer .right-section .right-section-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .right-section .right-section-body .right-section-body-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgb(128, 128, 128);
  font-size: small;
}
footer .right-section .right-section-body .right-section-body-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: rgb(128, 128, 128);
  font-size: small;
}
footer .right-section .right-section-foot {
  color: rgb(128, 128, 128);
  text-align: end;
  font-size: small;
}

/*# sourceMappingURL=index.css.map */
