* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

$base-color: rgb(8, 189, 129);
$background-color: white;
$cursor: pointer;
$button-radius: 5px;

.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $background-color;

  h2 {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    color: $base-color;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 10px;

    li {
      font-weight: bold;
      color: $base-color;
    }

    li:hover {
      cursor: $cursor;
      text-decoration: underline orange;
    }
  }
}

$search-box-padding: 5px;
$search-box-height: 30px;

.bg-image {
  height: 50vh;
  display: grid;
  justify-items: center;
  align-content: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/013/089/133/small_2x/abstract-soft-focus-sunset-field-landscape-of-white-flowers-and-grass-meadow-warm-golden-hour-sunset-sunrise-time-tranquil-spring-summer-nature-closeup-and-blurred-forest-background-idyllic-nature-photo.jpg");
  background-size: cover;

  .search {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-auto-flow: row;
    justify-content: center;

    .search-field {
      height: $search-box-height;
      input {
        height: $search-box-height;
        border: none;
        size: 5px;
        background-color: $background-color;
      }
      input::placeholder {
        color: $base-color;
        padding-left: 3px;
      }
    }
    .search-button {
      height: $search-box-height;
      color: $background-color;
      background-color: $base-color;
      line-height: $search-box-height;
      padding-left: $search-box-padding;
      padding-right: $search-box-padding;
    }
  }
}

.details {
  $padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8px;

  h2 {
    color: $base-color;
    padding: $padding;
  }
  h5 {
    display: grid;
    justify-content: end;
    color: $base-color;
    padding: $padding;
  }
}

.navigation {
  $button-space: 15px;
  $margining: 120px;

  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  height: 70px;

  .prev-button {
    display: grid;
    justify-items: start;
    align-content: center;

    div {
      background-color: $base-color;
      color: $background-color;
      height: 30px;
      margin-left: 15px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $button-radius;
    }
  }
  .no-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      color: $background-color;
      background-color: lightgrey;
      height: 30px;
      width: 30px;
      display: grid;
      justify-items: center;
      align-content: center;
      border-radius: $button-radius;
    }
    .active {
      background-color: $base-color;
    }
  }
  .next-button {
    display: grid;
    justify-items: end;
    align-content: center;

    div {
      background-color: $base-color;
      color: $background-color;
      height: 30px;
      margin-right: 15px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $button-radius;
    }
  }
}

.grids {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "section"
    "footer";
  .header {
    height: 200px;
    grid-area: header;
    background: lightgray;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .footer {
    height: 200px;
    grid-area: footer;
    background: lightgray;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .section {
    grid-area: section;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "navbar content";
    .navbar {
      grid-area: navbar;
      background-color: peachpuff;
      padding: 1rem;
      height: auto;
    }
    .content {
      grid-area: content;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "upper"
        "middle"
        "lower";
      gap: 10px;
      padding: 10px;
      .upper {
        grid-area: upper;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "upper-left upper-center upper-right";
        gap: 10px;
        .upper-left {
          grid-area: upper-left;
          background: grey;
          padding: 1rem;
          text-align: center;
          color: white;
        }
        .upper-center {
          grid-area: upper-center;
          background: red;
          padding: 1rem;
          text-align: center;
          color: white;
        }
        .upper-right {
          grid-area: upper-right;
          background: lightgray;
          padding: 1rem;
          text-align: center;
          color: white;
        }
      }
      .middle {
        grid-area: middle;
        background: blue;
        padding: 1rem;
        text-align: center;
        color: white;
      }
      .lower {
        grid-area: lower;
        background: orange;
        padding: 1rem;
        text-align: center;
        color: white;
      }
    }
  }
}

footer {
  $footer-color: rgb(128, 128, 128);

  background-color: lightgray;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .left-section {
    height: 200px;
    width: 300px;

    h2 {
      color: $base-color;
      padding-bottom: 20px;
    }
    div {
      font-size: small;
      color: $footer-color;
    }
    h5 {
      margin-top: 50px;
      font-weight: lighter;
      color: $footer-color;
    }
  }
  .right-section {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .right-section-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link-header {
        color: $base-color;
      }
      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        div {
          height: 20px;
          width: 20px;
          background-color: $background-color;
          line-height: 20px;
          text-align: center;
          border-radius: $button-radius;
        }
      }
    }
    .right-section-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .right-section-body-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: $footer-color;
        font-size: small;
      }
      .right-section-body-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        color: $footer-color;
        font-size: small;
      }
    }
    .right-section-foot {
      color: $footer-color;
      text-align: end;
      font-size: small;
    }
  }
}
